.Table_Row {
    border: 2px solid lightgray;
    border-radius: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listForm {
    width: 80%;
}

.textList {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.vl {
    border-left: 6px solid grey;
    height: 700px;
}